@font-face {
  font-family: graphik-regular;
  src: url("../fonts/Graphik-Regular-Cy-Web.woff2") format("woff2"), url("../fonts/Graphik-Regular-Cy-Web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: graphik-black;
  src: url("../fonts/Graphik-Black-Cy-Web.woff2") format("woff2"), url("../fonts/Graphik-Black-Cy-Web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #333333;
  font-family: graphik-regular, Arial, Helvetica, sans-serif; 
  font-size: 16px;
}

.page-header {
  color: #000000;
  font-family: graphik-black, Arial, Helvetica, sans-serif;
  height: 9em;
  margin-left: -20px;
} 

h1, h2, h3 {
  font-family: graphik-black, Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h1.avatar-top {
  font-size: 0.8em;
  margin-top: 3em;
}

h1.avatar-top img {
  width: 40px;
  margin-right: 0.2em;
  clip-path: circle(18px at center);
  margin-top: -3px;
}

.article {
  margin-bottom: 3em;
}

h2.article-title a {
  text-decoration: none;
  color: #333;
}

h2.article-title {
  margin-bottom: 0.1em;
}

h2.article-title a:hover {
  color: #555;
}
